<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <button class="btn btn-success" (click)="onNewProjectComponents()">New Project Components</button>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <a *ngFor="let p of components"-->
<!--       style="cursor: pointer;"-->
<!--       [routerLink]="[p.name]"-->
<!--       routerLinkActive="active"-->
<!--       class="list-group-item clearfix "-->
<!--    >-->
<!--      <div class="pull-left">-->
<!--        <h4 class="list-group-item-heading">{{ p.name }}</h4>-->
<!--      </div>-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->

