<!--<br>-->
<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--        <button type="submit" class="btn btn-success" (click)="uploadFile()"> Upload</button>-->
<!--        <button type="button" class="btn btn-danger" (click)="cancelFile()"> Cancel</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--        <br>-->
<!--        <div class="form-group">-->
<!--          <label for="projectId"> ProjectId</label>-->
<!--          <input type="text" id="projectId" class="form-control" [(ngModel)]="projectId">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-xs-12">-->
<!--        <br>-->
<!--        <div class="form-group">-->
<!--          <input type="file" accept=".json" id="file" multiple (change)="selectFile($event)">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
