<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/projects']">Projects</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLinkActive="active" [routerLink]="['/components']">Components</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLinkActive="active" [routerLink]="['/projectCharacterization']">Project-->
<!--        Characterization</a>-->
<!--    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/createRelation']">Create Quality Model</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLinkActive="active" [routerLink]="['/viewComponentQualityAspect']">View Table</a>-->
<!--    </li>-->
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
